@import './text';

*{
    margin: 0;
    padding: 0;
}
$image: url('/assets/svgimg8.svg');
$colorRed: rgb(100, 25, 25);
$colorBlue: blue;

@mixin backG($color,$width,$height) {
    
    background-color: $color;
    width: $width;
    height: $height;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#content{

    @include backG(rgb(63, 138, 148),80%,100px);
    @include fontS(55px,$colorBlue);

}
#imageSvg{

    width: 250px;
    height: 250px;
}
#img-test{
    @include backG(rgb(63, 138, 148),80%,100px);
    background-image: $image;

}
#imgJpg{
    width: 250px;
    height: 250px;
}
.test{
    
    @include backG(rgb(42, 133, 30),80%,100px);

    p {
        @include fontS(55px,$colorRed);

    }

}